# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [7]:
# Add your code for Question 2 in this code block
data  = pd.read_csv("application_data.csv")
(data.head())

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   object
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

In [9]:
# convert to dates

data["appilcationDate"] = pd.to_datetime(data["appilcationDate"])
data["repaymentDueDate"] = pd.to_datetime(data["repaymentDueDate"])
data["repaymentPaidDate"] = pd.to_datetime(data["repaymentPaidDate"])
data

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [11]:
# data types
data.info()
#4 data types
data.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   datetime64[ns]
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   datetime64[ns]
 8   repaymentPaidDate  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

customerID                   object
loanId                       object
appilcationDate      datetime64[ns]
LoanNumber                    int64
LoanAmount                  float64
InterestRate                float64
TermDays                      int64
repaymentDueDate     datetime64[ns]
repaymentPaidDate    datetime64[ns]
dtype: object

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [16]:
# 2a avg loan amount

data.columns
loan_amount = data["LoanAmount"]
loan_amount.mean().round(2)

13828.08

In [15]:
# 2b avg interest rate
data.columns
interest_rate = data["InterestRate"]
interest_rate.mean().round(2)

23.06

In [14]:
# 2c avg term days 
data.columns
term_days = data["TermDays"]
term_days.mean().round(2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [37]:
# date difference
data_difference = data["repaymentPaidDate"] - data["repaymentDueDate"]
data["dateDifference"] = data_difference
# number of loans more than 3 days late
over_3days_late = data[data["dateDifference"].dt.days > 3]
over_3days_late.shape[0]

127

In [28]:
over_3days_late[over_3days_late["customerID"] == "GH96908526"]

397    False
410    False
419    False
424    False
426    False
       ...
978    False
980    False
983    False
987    False
997    False
Name: customerID, Length: 145, dtype: bool

In [27]:
data.groupby("InterestRate").count()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
InterestRate,,,,,,,,,
5.0,21,21,21,21,21,21,21,21,21
6.0,3,3,3,3,3,3,3,3,3
7.5,30,30,30,30,30,30,30,30,30
9.0,1,1,1,1,1,1,1,1,1
9.9,1,1,1,1,1,1,1,1,1
10.0,33,33,33,33,33,33,33,33,33
12.0,8,8,8,8,8,8,8,8,8
12.5,46,46,46,46,46,46,46,46,46
12.6,5,5,5,5,5,5,5,5,5
15.0,208,208,208,208,208,208,208,208,208
18.0,5,5,5,5,5,5,5,5,5
19.8,7,7,7,7,7,7,7,7,7
20.0,49,49,49,49,49,49,49,49,49
20.1,22,22,22,22,22,22,22,22,22
27.0,42,42,42,42,42,42,42,42,42
30.0,493,493,493,493,493,493,493,493,493
36.0,26,26,26,26,26,26,26,26,26

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

### THIS IS A MARKDOWN

* Markdowns are cool

In [19]:
data.groupby('TermDays').std().reset_index()[["TermDays", "LoanAmount", 'InterestRate']]

   TermDays    LoanAmount  InterestRate
0        15   2885.967406      0.000000
1        30   1606.039495      4.034005
2        45   2346.143820      5.773965
3        60  11559.646185      3.632352
4        90  18050.140602      2.180963
5       120  22192.966854      1.000000
6       180  34612.222587      1.265152

In [20]:
data.groupby('TermDays').mean().reset_index()[["TermDays", "LoanAmount", 'InterestRate']]

   TermDays    LoanAmount  InterestRate
0        15   1274.088050     15.000000
1        30   7941.964286     28.562143
2        45  10706.250000     28.732500
3        60  25710.526316     15.055789
4        90  37672.727273     10.645455
5       120  45055.555556     11.666667
6       180  80988.095238      6.250000

In [45]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
round(data.groupby(['TermDays']).mean()["LoanAmount"], 2)
round(data.groupby(['TermDays']).std()["LoanAmount"], 2)
standard_deviation = round(data.groupby(['TermDays']).std()["LoanAmount"], 2)
mean = round(data.groupby(['TermDays']).mean()["LoanAmount"], 2)
print(standard_deviation)
print(mean)

TermDays
15      2885.97
30      1606.04
45      2346.14
60     11559.65
90     18050.14
120    22192.97
180    34612.22
Name: LoanAmount, dtype: float64
TermDays
15      1274.09
30      7941.96
45     10706.25
60     25710.53
90     37672.73
120    45055.56
180    80988.10
Name: LoanAmount, dtype: float64

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.